[submodule "themes/hugo-bootstrap-premium"]
	path = themes/hugo-bootstrap-premium
	url = https://github.com/appernetic/hugo-bootstrap-premium.git
[submodule "themes/black-and-light"]
	path = themes/black-and-light
	url = https://github.com/davidhampgonsalves/hugo-black-and-light-theme.git
